version: '3.8'

services:
  mariadb:
    container_name: mariadb
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    image: mariadb:inception
    env_file: .env
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - inception-network
    restart: unless-stopped
    secrets:
      - db_root_password
      - db_password

  wordpress:
    container_name: wordpress
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    image: wordpress:inception
    env_file: .env
    volumes:
      - wordpress:/var/www/html
    networks:
      - inception-network
    depends_on:
      - mariadb
    restart: unless-stopped
    secrets:
      - db_password
      - wp_admin_password
      - wp_user_password

  nginx:
    container_name: nginx
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    image: nginx:inception
    env_file: .env
    ports:
      - "443:443"
    volumes:
      - wordpress:/var/www/html
    networks:
      - inception-network
    depends_on:
      - wordpress
    restart: unless-stopped

volumes:
  mariadb:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/pchung/data/mariadb
  wordpress:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/pchung/data/wordpress

networks:
  inception-network:
    driver: bridge

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt
  wp_user_password:
    file: ../secrets/wp_user_password.txt
